@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
.underbar{
    border-bottom: 1px solid #66666630;
}
#fixed1{
   
    position: fixed;
    top: 0;
    z-index: 1;
}
#fixed2{
    width: 100px;
    height: 100px;
    border: 2px solid #0082ff;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 20px;
    text-align: center;
    padding: 14px;
    background-color: white;
    z-index: 50;
}
#fixed2 a p{
    font-weight: bold;
    font-size: 15px;
    color: #0082ff;
    
}
header{
    width: 1500px;
   
    
}
.main_bar{
    margin-top: 180px;
}
.main_bar img{
    width: 100%;
}
/* header section{
    display: flex;
    margin: 10px auto;
    justify-content: right;
    border-bottom: #666;
}
 */
/* header section div input{
    width: 224px;
    height: 36px;
    border-radius: 40px;
    border: 1px solid #33333330;
    padding-left: 20px;
    font-size: 16px;
    margin-right: 20px;
}
header section div input:focus {
     outline: 0; 
    } */


header div figure{
    width: 36px;
    height: 36px;
    background-color: #0082ff;
    border-radius: 50%;
    position: relative;
    margin-right: 14px;
}

header div:last-child figure{
 background: fixed;
}
header div figure img{
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
main{
    width: 1500px;
    padding: 10px 10px ;
    margin: 0 auto;
    
}
.main_menu{
    display: flex;
    justify-content: space-between;
}

.main_menu div ul{
    width: 350px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    line-height: 60px;

}
.main_menu div ul li {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}
.main_menu div:last-child figure{
    height: 24px;
    width: 24px;   
    margin-top: 20px ;
}
.main_menu div:last-child figure img{
    height: 100%;
    width: 100%;
}

